* {
    margin: 0px;
    border: 0px;
    font: arial;
    background-color: #1abc9c;
}
html {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:8.5%;
}
.loginpagetitle {
    height: 7.5rem;
    width: 31.25rem;
    background-color: #16a085;
     display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#log {
    color: white;
    background-color: #16a085;
    font-weight: 900;
    font-size: 30px;
}

.main {
    height: 25rem;
    width: 31.25rem;
    border: 0px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.username {
    height: 60px;
    width: 450px;
    display: block;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    display: flex; 
}
#userid {
    background-color: white;
    height: 95%;
    width: 100%;
    font-size: 20px;
    padding-left: 10px;
    color: black;
}
.username i {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.password {
    height: 60px;
    width: 450px;
    display: block;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
}
#pass {
    background-color: white;
    height: 95%;
    width: 100%;
    font-size: 20px;
    padding-left: 10px;
    color: black;
}
.password i {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.forgotpassword {
    background-color: white;
    width: 450px;
    display: flex;
    align-items: end;
    font-size: 17px;
}
.forgotpassword a {
    color: #16a085;
    background-color: white;
    text-decoration: none;
}
.forgotpassword a:hover {
    color: #04725c;
    text-decoration: underline;
}
input {
    height: 60px;
    width: 450px;
    background-color: #16a085; 
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: #16a085;
    color: white;
    font-size: 20px;
}
/* input:hover {
    background-color: #04725c;
} */
.footer {
    background-color: white;
    font-size: 20px;
}
.footer a {
    background-color: white;
    text-decoration: none;
    color: #16a085;
}
.footer a:hover {
    color: #04725c;
    text-decoration: underline;
}
#msg {
height:20px;
color: black;
background-color: bisque;
display: flex;
justify-content: center;
align-items: center;
border-radius: 12%;

}
  